@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.mainpage-image1 p  {
    color: rgb(252, 232, 141);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    bottom: -12rem;
}

.mainpage-image2 {
    width: 90%;
    background-color: rgba(255, 0, 0, 0.724);
}

.image2-content {
    width: 30%;
}

.image2-content a {
    color: black;
    background-color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid black;
    font-size: 1.2rem;
}

.image2-content a:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}

.mainpage-image2:nth-child(2) {
    padding-bottom: 30px;
}

.mainpage-image3 {
    width:90%;
    background-color: rgb(216,5,63);
}

.images-link1 {
    text-decoration: none;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    padding-bottom: 40px;
}

.images-link1:hover {
    color: white;
}

.images-link2 {
    text-decoration: none;
    font-size: x-large;
    color: white;
    background-color: black;
    padding: 15px 50px;
    border-radius: 40px;
}

.images-link2:hover {
    color: white;
    background-color: rgba(255, 99, 71, 0.924);
}

.image_animated {
    background-image: url('../../images/pic_animate.webp');
    background-size: 90%;
    height: 410px;
    background-repeat: no-repeat;
    background-position: center;
}

.image_animated div:nth-child(1) {
    color: tomato;
    font-family: 'Cookie', cursive;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    padding-top: 15px;
}

.image_animated div:nth-child(2) {
    color: rgb(250, 200, 19);
    font-family: anton,sans-serif;
    font-size: 90px;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 1px 1px 1px lightblue;
}

.image_animated a:nth-child(4) {
    text-decoration: none;
    color: white;
    background: linear-gradient(229deg, #ff4f4f 0%, rgba(29, 44, 243, 0) 100%), #1D2CF3;
    padding: 17px 40px;
    border-radius: 30px;
}

.image_animated a:hover {
    background-color: rgba(255, 99, 71, 0.924);
}

.course-benefits {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 45px;
}

.testimonials div:nth-child(1) {
    color: rgb(216,5,63);
    font-size: 51px;
    font-family: 'Questrial', sans-serif;
}

.testimonials:nth-child(2) {
    border-top: 4px solid black;
    
}

.carousel {
    width: 90%;
    margin: auto;
}

.para1 {
    text-align: center;
    top: auto;
    margin-bottom: 150px;
}
.para2 {
    text-align: center;
    top: auto;
    margin-bottom: 110px;
}
.para3 {
    text-align: center;
    top: auto;
    margin-bottom: 110px;
}

.video-mp4 {
    margin-top: 30px;
}

.video-mp4>video {
    min-width: 100%;
}